<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="TestingBanking">
    <test name="Regression">
         <classes>
             <class name="Tests.RegistrationTest"/>
              <class name="Tests.LoginTest"/>
          </classes>
     </test> <!-- Test -->
</suite> <!-- Suite -->